<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#2db5a3">

    {% # Inlined CSS Variables %}
    {% render 'css-variables' %}

    {% comment %}
      Font preloading
    {% endcomment %}
    {% unless settings.type_primary_font.system? %}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
      {{ settings.type_primary_font | font_url | preload_tag: as: 'font', crossorigin: 'anonymous' }}
    {% endunless %}
    {% unless settings.type_heading_font.system? %}
      {{ settings.type_heading_font | font_url | preload_tag: as: 'font', crossorigin: 'anonymous' }}
    {% endunless %}

    {% # Favicon %}
    {% if settings.favicon %}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {% endif %}

    {% # Load critical CSS %}
    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}

    {% # Load VARENAL design system %}
    {{ 'varenal-design-system.css' | asset_url | stylesheet_tag }}

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {{ content_for_header }}
  </head>

  <body>
    {% sections 'header-group' %}

    <main id="main-content" role="main">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}
  </body>
</html>
